/*

Lavish HTML CSS Template

https://templatemo.com/tm-458-lavish
		
*/

body
{
	background: #0F172A;
	color: #F1F5F9;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	font-weight: 400;
}

/* start all section */
#home,
#home .fp-slide,
#home .fp-tableCell,

#work,
#work .fp-slide,
#work .fp-tableCell,

#about,
#about .fp-slide,
#about .fp-tableCell,

#contact,
#contact .fp-slide,
#contact .fp-tableCell,

#portfolio,
#portfolio .fp-slide,
#portfolio .fp-tableCell,

footer,
footer .fp-slide,
footer .fp-tableCell
{
    height: auto !important;
}

/* end all section */

/* start all heading */
h1,h2,h3,h4,h5
    {
        color: #ffffff;
        font-weight: bold;
    }
/* end all heading */

/* start all section */
#work, #about, #portfolio, #contact
    {
        padding-top: 100px;
        padding-bottom: 120px;
    }
/* end all section */

/* start simpletextrotator */
.rotating {
  display: inline-block;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateX(0) rotateY(0) rotateZ(0);
  -moz-transform: rotateX(0) rotateY(0) rotateZ(0);
  -ms-transform: rotateX(0) rotateY(0) rotateZ(0);
  -o-transform: rotateX(0) rotateY(0) rotateZ(0);
  transform: rotateX(0) rotateY(0) rotateZ(0);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform-origin-x: 50%;
}

.rotating.flip {
  position: relative;
}

.rotating .front, .rotating .back {
  left: 0;
  top: 0;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

.rotating .front {
  position: absolute;
  display: inline-block;
  -webkit-transform: translate3d(0,0,1px);
  -moz-transform: translate3d(0,0,1px);
  -ms-transform: translate3d(0,0,1px);
  -o-transform: translate3d(0,0,1px);
  transform: translate3d(0,0,1px);
}

.rotating.flip .front {
  z-index: 1;
}

.rotating .back {
  display: block;
  opacity: 0;
}

.rotating.spin {
  -webkit-transform: rotate(360deg) scale(0);
  -moz-transform: rotate(360deg) scale(0);
  -ms-transform: rotate(360deg) scale(0);
  -o-transform: rotate(360deg) scale(0);
  transform: rotate(360deg) scale(0);
}

.rotating.flip .back {
  z-index: 2;
  display: block;
  opacity: 1;
  
  -webkit-transform: rotateY(180deg) translate3d(0,0,0);
  -moz-transform: rotateY(180deg) translate3d(0,0,0);
  -ms-transform: rotateY(180deg) translate3d(0,0,0);
  -o-transform: rotateY(180deg) translate3d(0,0,0);
  transform: rotateY(180deg) translate3d(0,0,0);
}

.rotating.flip.up .back {
  -webkit-transform: rotateX(180deg) translate3d(0,0,0);
  -moz-transform: rotateX(180deg) translate3d(0,0,0);
  -ms-transform: rotateX(180deg) translate3d(0,0,0);
  -o-transform: rotateX(180deg) translate3d(0,0,0);
  transform: rotateX(180deg) translate3d(0,0,0);
}

.rotating.flip.cube .front {
  -webkit-transform: translate3d(0,0,100px) scale(0.9,0.9);
  -moz-transform: translate3d(0,0,100px) scale(0.85,0.85);
  -ms-transform: translate3d(0,0,100px) scale(0.85,0.85);
  -o-transform: translate3d(0,0,100px) scale(0.85,0.85);
  transform: translate3d(0,0,100px) scale(0.85,0.85);
}

.rotating.flip.cube .back {
  -webkit-transform: rotateY(180deg) translate3d(0,0,100px) scale(0.9,0.9);
  -moz-transform: rotateY(180deg) translate3d(0,0,100px) scale(0.85,0.85);
  -ms-transform: rotateY(180deg) translate3d(0,0,100px) scale(0.85,0.85);
  -o-transform: rotateY(180deg) translate3d(0,0,100px) scale(0.85,0.85);
  transform: rotateY(180deg) translate3d(0,0,100px) scale(0.85,0.85);
}

.rotating.flip.cube.up .back {
  -webkit-transform: rotateX(180deg) translate3d(0,0,100px) scale(0.9,0.9);
  -moz-transform: rotateX(180deg) translate3d(0,0,100px) scale(0.85,0.85);
  -ms-transform: rotateX(180deg) translate3d(0,0,100px) scale(0.85,0.85);
  -o-transform: rotateX(180deg) translate3d(0,0,100px) scale(0.85,0.85);
  transform: rotateX(180deg) translate3d(0,0,100px) scale(0.85,0.85);
}
/* end simpletextrotator */

/* start home */       
#home
	{
        background: url('../images/home-bg.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 120px;
        padding-bottom: 140px;
        text-align: center;
	}
#home h1
    {
        border: 2px solid #22D3EE;
        color: #22D3EE;
        display: inline-block;
        letter-spacing: 6px;
        padding: 25px 35px;
        margin: 30px 0;
    }
#home h2
    {
        padding-bottom: 10px;
    }
#home .btn
    {
        background-color: #3B82F6;
        color: #F1F5F9;
        font-size: 16px;
        font-weight: bold;
        width: 180px;
        height: 60px;
        margin-top: 40px;
        padding-top: 18px;
        transition: all 0.4s ease-in-out;
    }
#home .btn:hover
    {
        background: #60A5FA;
        border-color: transparent;
    }
/* end home */

/* start work */
#work
    {
        background: #1E293B;
    }
#work h2
    {
        text-align: center;
    }

#work .media
    {
      margin-top: 30px;
    }
	
#work .media .fa
    {
        border: 2px solid #334155;
        border-radius: 50%;
        color: #3B82F6;
        font-size: 24px;
        margin-right: 24px;
        width: 60px;
        height: 60px;
        line-height: 55px;
        text-align: center;
        vertical-align: middle;
        transition: all 0.4s ease-in;
    }
#work .media .fa:hover
    {
        background: #60A5FA;
        cursor: pointer;
    }
#work .media .media-heading
    {
        font-weight: 600;
        font-size: 20px;
        padding-bottom: 10px;
    }
/* end work */

/* start about */
#about h4
    {
        padding: 15px 0;
		color: #22D3EE;
    }
#about .progress
    {
        border-radius: 4px;
        background: #F1F5F9;
        height: 4px;
    }
#about .progress .progress-bar-danger
    {
        background: #22D3EE;
    }
#about .text-top
    {
        padding-top: 50px;
    }
#about span
    {
        color: #F1F5F9;
        font-weight: bold;
        display: block;
        padding-bottom: 6px;
    }
#about small
    {
        font-weight: bold;
        float: right;
    }
/* end about */

/* start portfolio */
#portfolio
    {
        background: #1E293B;
        text-align: center;
    }
#portfolio h2
    {
        padding-bottom: 30px;
    }
#portfolio .portfolio-thumb
    {
        overflow: hidden;
        position: relative;
        margin-bottom: 30px;
    }
#portfolio .portfolio-thumb .portfolio-overlay
    {
        background: #3B82F6;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        padding-top: 60px;
        transition: all 0.4s ease-in-out;
    }
#portfolio .portfolio-thumb:hover .portfolio-overlay
    {
        cursor: pointer;
        opacity: 0.8;
        transform: scale(0.9);
    }
/* end portfolio */

/* start portfolio modal */
.modal-close
{
    background: transparent;
    border: none;
    padding: 8px;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    right: 32px;
    top: 30px;
}

.modal-close i
{
    color:#3B82F6;
    font-size: 40px;
}

.modal-close:hover i
{
    color: #60A5FA;
}

.modal-responsive {
    width: 90%;
    max-width: 100%;
  }
  
  @media (min-width: 576px) {
    .modal-responsive {
      max-width: 540px; /* Bootstrap's container-sm */
    }
  }
  
  @media (min-width: 768px) {
    .modal-responsive {
      max-width: 720px; /* Bootstrap's container-md */
    }
  }
  
  @media (min-width: 992px) {
    .modal-responsive {
      max-width: 960px; /* Bootstrap's container-lg */
    }
  }
  
  @media (min-width: 1200px) {
    .modal-responsive {
      max-width: 1140px; /* Bootstrap's container-xl */
    }
  }

  @media (min-width: 1400px) {
    .modal-responsive {
      max-width: 1320px; /* Bootstrap's container-xxl */
    }
  }

.carousel-control-next, .carousel-control-prev, .carousel-control-next:hover, .carousel-control-prev:hover
{
    opacity: 1;
}

.carousel-control-next-icon, .carousel-control-prev-icon
{
    display:none;
}

.carousel-control-next i, .carousel-control-prev i
{
    color:#3B82F6;
    font-size: 40px;
}

.carousel-control-next:hover i, .carousel-control-prev:hover i
{
    color: #60A5FA;
}

.carousel .carousel-indicators .active
{
    background-color: #60A5FA;
}

.carousel .carousel-indicators button
{
    opacity: 1;
}

#portfolio-modal .portfolio-modal-content
{
    border: 5px solid #334155;
    background-color: #0F172A;
}

#portfolio-modal .portfolio-modal-header
{
    background-image: linear-gradient(180deg, #0F172A, #1E293B);
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid #334155;
}

#portfolio-modal .portoflio-modal-header-description
{
    justify-content: center;
    padding: 16px;
    color: #afc1da;
}

#portfolio-modal .portfolio-modal-body
{
    background-color: #1E293B;
    color: #F1F5F9
}

.portfolio-modal-body-leftcol
{
    font-size: 24px;
    text-align: right;
    justify-content: right;
    border-right: 5px solid #F1F5F9;
    margin: 8px;
    border-radius: 4px;
    align-items: center;
    padding-right: 50px;
}

.portfolio-modal-body-rightcol
{
    font-size: 16px;
    vertical-align: middle;
    padding: 8px;
    align-items: center;
}

/* Custom scroll bar for modals */
.custom-scrollbar
{
    overflow-y: overlay;
}

.custom-scrollbar::-webkit-scrollbar
{
    width: 20px;
}

.custom-scrollbar::-webkit-scrollbar-track 
{
    background: transparent;
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb
{
    background: #F1F5F9;
    border: 5px solid #1E293B;
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover
{
    background: #94A3B8;
}

/* Custom scroll bar for main webpage */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #F1F5F9;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #94A3B8;
}


/* end portfolio modal */

/* start footer */
/* footer
    {
        border-top: 1px solid #090909;
        text-align: center;
        padding-top: 40px;
        padding-bottom: 20px;
    }
footer hr
    {
        width: 100px;
    } */
/* end footer */

/* start social icon */
/* .social-icon
    {
        position: relative;
        padding: 0;
        margin: 0;
    }
.social-icon li
    {
        display: inline-block;
        list-style: none;
    }
.social-icon li a
    {
        border-radius: 50%;
        color: #606060;
        text-decoration: none;
        transition: all 0.4s ease-in-out;
        text-align: center;
        margin-right: 10px;
    }
.social-icon li a:hover
    {
        color: #D43F52;
    } */
/* end social icon */
